# FILES
**/*.env
**/*.pyc
**/HIDDEN_NOTES.md
**/.onCreateCommandMarker
**/.postCreateCommandMarker
**/.updateContentCommandMarker

# FOLDERS
logs
project/.venv
project/logs
**/__pycache__
**/.ruff_cache